* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 800px;
    border: 1px solid black;
    // overflow: hidden;
}

.box {
    width: 100%;
    height: 800px;
    // background-color: red;
    position: fixed;
}

.box-1 {
    background-image: url(../img/img0.jfif);
}

.box-2 {
    background-image: url(../img/img1.jfif);
}

.box-3 {
    background-image: url(../img/img2.jfif);
    opacity: 0;
}

#home-view {
    position: relative;
    width: 100%;
    height: 800px;

    img {
        width: 100%;
        height: 100vh;
        position: fixed;
    }

}

.title {
    position: fixed;
    top: 100px;
    left: 50%;
    display: flex;
    flex-direction: column;
    z-index: 10;

    
    h1 {
        // position: relative;
        // display: inline-block;
        // font-size: 2em;
        // font-weight: 800;
        color: royalblue;
        overflow: hidden;
        /* Same as before */
        background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 275ms ease;

        &:hover {
            background-position: 0 100%;
        }
    }
}

.appear {
    z-index: 1;
    opacity: 1;
}